body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  color: rgba(255, 255, 255, 0.616);
  
  background: rgb(8,124,148);
  background: radial-gradient(circle, rgba(8,124,148,1) 0%, rgba(4,43,59,1) 48%, rgba(6,44,88,1) 100%);
}

p {
  font-size: 1.5em;
  font-weight: bold;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

#gameCanvas {
  margin: auto;
  border-radius: 5px;
}